<!--  Featured Events First Row -->

  <div class="container">
    <div class="row">


      <div class="col s3" ng-repeat="events in mongoStuff">
        <div class="card">
          <div class="card-image">
            <img src="http://www.smokymountainvacationinfo.com/images/national-park-images/hiking.jpg">
            <h3 class="card-title">{{ events.title }}</h3>
          </div>
          <div class="card-content">
            <p>{{ events.description }}</p>
          </div>
          <div class="card-action">
            <a ui-sref="moreInformation">More Information <i class="fa fa-info fa-1x"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>

    
     
    <div ui-view></div>